<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lanayo.Vagrant_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lanayo.VagrantManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lanayo.Vagrant_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Lanayo.VagrantManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Lanayo.Vagrant_Manager.Properties.Settings>
            <setting name="Bookmarks" serializeAs="String">
                <value />
            </setting>
            <setting name="UsePathAsInstanceDisplayName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeMachineNamesInMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCloseTaskWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAtLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUpdateNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshEvery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedUpdates" serializeAs="String">
                <value>Stable</value>
            </setting>
            <setting name="RefreshEveryInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecursiveBookmarkScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Guid" serializeAs="String">
                <value />
            </setting>
            <setting name="VBoxManagePath" serializeAs="String">
                <value>c:\Program Files\Oracle\VirtualBox\VBoxManage.exe</value>
            </setting>
            <setting name="VBoxManagePathPrompted" serializeAs="String">
                <value>False</value>
            </setting>
        </Lanayo.Vagrant_Manager.Properties.Settings>
        <Lanayo.VagrantManager.Properties.Settings>
            <setting name="Bookmarks" serializeAs="String">
                <value />
            </setting>
            <setting name="Test" serializeAs="String">
                <value />
            </setting>
            <setting name="AboutUrl" serializeAs="String">
                <value>http://www.vagrantmanager.com/</value>
            </setting>
            <setting name="AppcastUrl" serializeAs="String">
                <value>http://www.vagrantmanager.com/appcast/vagrant_manager</value>
            </setting>
        </Lanayo.VagrantManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Lanayo.Vagrant_Manager.Properties.Settings>
            <setting name="GithubUrl" serializeAs="String">
                <value>https://github.com/lanayotech/vagrant-manager-windows</value>
            </setting>
            <setting name="AppInfoUrl" serializeAs="String">
                <value>http://api.lanayo.com/info/vagrant_manager_windows</value>
            </setting>
            <setting name="AboutUrl" serializeAs="String">
                <value>http://www.vagrantmanager.com/windows</value>
            </setting>
            <setting name="AppcastUrl" serializeAs="String">
                <value>http://api.lanayo.com/appcast/vagrant_manager_windows.xml</value>
            </setting>
        </Lanayo.Vagrant_Manager.Properties.Settings>
        <Lanayo.VagrantManager.Properties.Settings>
            <setting name="GithubUrl" serializeAs="String">
                <value>https://github.com/lanayotech/vagrant-manager</value>
            </setting>
            <setting name="AppInfoUrl" serializeAs="String">
                <value>http://api.lanayo.com/info/vagrant_manager</value>
            </setting>
            <setting name="VBoxManagePath" serializeAs="String">
                <value>c:\Program Files\Oracle\VirtualBox\VBoxManage.exe</value>
            </setting>
        </Lanayo.VagrantManager.Properties.Settings>
    </applicationSettings>
</configuration>